<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<dict>
		<key>Path</key>
		<string>file:///Data/FSAPL85%2016-1-5%201.txt</string>
		<key>Type</key>
		<string>/temp/MIC/X35</string>
	</dict>
	<key>Database</key>
	<dict>
		<key>DB</key>
		<string>fksfcdb4</string>
		<key>ID</key>
		<string>root</string>
		<key>IP</key>
		<string>192.168.101.171</string>
		<key>PWD</key>
		<string>123456</string>
	</dict>
	<key>FTP</key>
	<dict>
		<key>Dir</key>
		<string>1</string>
		<key>ID</key>
		<string>test1</string>
		<key>IP</key>
		<string>192.168.101.171</string>
		<key>PWD</key>
		<string>123456</string>
		<key>Path</key>
		<string>file:///Data/FSAPL85.csv</string>
		<key>Port</key>
		<string>21</string>
	</dict>
	<key>FactoryYade</key>
	<string>SG</string>
	<key>LastDate</key>
	<string>20160113</string>
	<key>MaxLine</key>
	<string>6</string>
	<key>PollTime</key>
	<string>100</string>
	<key>Process</key>
	<dict/>
	<key>StartLine</key>
	<string>0</string>
	<key>UseAgainstCheat</key>
	<integer>1</integer>
	<key>UseCheckBarcode</key>
	<integer>1</integer>
	<key>UseFTP</key>
	<integer>1</integer>
	<key>UseRenameFiles</key>
	<integer>1</integer>
	<key>UseRunStart</key>
	<integer>1</integer>
	<key>UserInfo</key>
	<dict>
		<key>BarcodeFormat</key>
		<string>C46**************</string>
		<key>Fail</key>
		<string>75</string>
		<key>FixtureNum</key>
		<string>013</string>
		<key>LineNum</key>
		<string>P5B09</string>
		<key>PartNum</key>
		<string>FSAPL85</string>
		<key>Pass</key>
		<string>765</string>
		<key>Rate</key>
		<string>91</string>
		<key>Total</key>
		<string>840</string>
		<key>WorkNum</key>
		<string>G142530</string>
		<key>WorkOrder</key>
		<string>WY8-FC2513</string>
	</dict>
</dict>
</plist>
